!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------
Xft.dpi:                    97
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintfull  
xft.lcdfilter:              lcddefault

!---------------------------------------
! Google Material Design Colors
!---------------------------------------
*background 		: #263238
*foreground 		: #eceff1

! black
*color0  			: #263238
*color8  			: #37474f
! red
*color1  			: #ff9800
*color9  			: #ffa74d
! green
*color2  			: #8bc34a
*color10 			: #9ccc65
! yellow
*color3  			: #ffc107
*color11 			: #ffa000
! blue
*color4  			: #03a9f4
*color12 			: #81d4fa
! magenta
*color5  			: #e91e63
*color13 			: #ad1457
! cyan
*color6  			: #009688
*color14 			: #26a69a
! white
*color7  			: #cfd8dc
*color15 			: #eceff1


!---------------------------------------
!Polybar settings
!---------------------------------------
polybar.font-0:-*-dejavu sans-medium-r-normal--16-*-*-*-*-*-iso8859-1
polybar.font-1:Font Awesome 5 Free Regular
polybar.font-2:Font Awesome 5 Free Solid
polybar.foreground: #DEE3E0
polybar.background: #343C48
polybar.background-alt: #444
polybar.foreground-alt: #555
polybar.primary: #ffb52a
polybar.secondary: #e60053
polybar.alert: #bd2c40
polybar.neutral: #03a9f4
polybar.good: #8bc34a

!---------------------------------------
!Rofi settings
!---------------------------------------
!rofi.modi: run,ssh
rofi.color-enabled: true
! State:           ´bg´,     ´fg´,     ´bgalt´,     ´hlbg´,   ´hlfg´
rofi.color-normal: #343C48,  #DEE3E0,  #424B5A,     #00627A,  #DEE3E0
!               ´background´, ´border´
rofi.color-window: #343C48,   #002b36
rofi.terminal: xterm	
rofi.font: Droid Sans Mono 12
rofi.lines: 5
rofi.location: 2
rofi.yoffset:   10

!==============================================================================
! XTerm 
!==============================================================================
!Кириллица
XTerm*utf8Title: true
XTerm*faceName: Droid Sans Mono
XTerm*faceSize: 12
xterm*bolfFont: 
xterm*scrollBar:        false
xterm*geometry:         80x50
xterm*eightBitInput:    false
xterm*metaSendsEscape:  true
xterm*colorBDMode:      true
xterm*boldMode:         on
xterm*alwaysBoldMode:   false
xterm*dynamicColors:    on
xterm*colorMode:        on
xterm*saveLines:        10000
xterm*visualBell:       false

!==============================================================================
! Цвета 
!==============================================================================
xterm*colorBD:     #e6d51d
! Чёрный
xterm*color0:      #000000
xterm*color8:      #555753
! Красный
xterm*color1:      #b6212d
xterm*color9:      #ff6565
! Зелёный
xterm*color2:      #4c8d00
xterm*color10:     #6bbe1a
! Жёлтый
xterm*color3:      #ff8040
xterm*color11:     #e6d51d
! Синий
xterm*color4:      #0086d2
xterm*color12:     #00d2ff
! Маджента
xterm*color5:      #963c59
xterm*color13:     #d3649f
! Циановый
xterm*color6:      #105952
xterm*color14:     #177f75
! Белый
xterm*color7:      #cdcaa9
xterm*color15:     #ffffff

XTerm*selectToClipboard:true
